@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Quicksand", sans-serif;
    /* font-family: "Pacifico", cursive; */
  }

  ::selection {
    color: black;
    background: #21d3d6;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .bg-hero {
    background: linear-gradient(170deg, #21d3d6 30%, transparent 70%);
  }

  .dotlist {
    /* background: #000; */
    translate: 0 1.5rem;
  }

  .fixed-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
}
